<footer>
	<div id="footer-left">
		<a href="mailto:mlawson18@gsu.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.twitter.com/mcadelawson"><i class="fa-lg fab fa-twitter footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.linkedin.com/in/cade-lawson/"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?user=5EP8RSUAAAAJ&hl=en"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Cade Lawson
		<br>
		Design by Fred Hohman
	</div>
	<div id="footer-right">
		Cade Lawson is a Ph.D. student in Economics at Georgia State University. 
	</div>
</footer>
